.card1{
    border: solid 1px rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1;
    background-color: #e53170 ;
}

.card2{
    border: solid 1px rgb(255, 255, 255);
    width: 110px;
    height: 110px;
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 2;
    background-color:#ffa200 ;
}

.card1:hover {
  transform: scale(1.1);
  background: #ffa200; 
}

.card2:hover{
    transform: scale(1.1);
    background: #e53170;
}